{{- if index .Values "kubernetes-access-gateway" "enabled" }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "twingate-operator.fullname" . }}-pre-delete-cleanup
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "twingate-operator.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-delete
    "helm.sh/hook-delete-policy": hook-succeeded
spec:
  template:
    spec:
      serviceAccountName: {{ include "twingate-operator.serviceAccountName" . }}
      containers:
        - name: cleanup
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: bitnami/kubectl:latest
          command:
            - /bin/sh
            - -c
            - |
              kubectl delete svc -n {{ .Release.Namespace }} {{ include "gateway.fullname" (index .Subcharts "kubernetes-access-gateway") }}
      restartPolicy: Never
{{- end }}
