{{- if not .Values.twingateOperator.existingAPIKeySecret -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "twingate-operator.secretName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "twingate-operator.labels" . | nindent 4 }}
data:
  {{ include "twingate-operator.secretApiKey" }}: {{ required "API Key required" .Values.twingateOperator.apiKey | b64enc }}
{{- end -}}
