version: 2
updates:
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: daily
      time: "13:00"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore: "
  - package-ecosystem: docker
    directory: "/"
    schedule:
      interval: "daily"
      time: "13:00"
    commit-message:
      prefix: "chore: "
  - package-ecosystem: helm
    directory: "deploy/twingate-operator"
    schedule:
      interval: daily
      time: "13:00"
    commit-message:
      prefix: "chore: "
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
