apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: twingateresourceaccesses.twingate.com
spec:
  group: twingate.com
  versions:
    - name: v1beta
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          description: "TwingateResourceAccess represents a resource access policy in Twingate."
          properties:
            spec:
              type: object
              description: "TwingateResourceAccessSpec defines the desired state of TwingateResourceAccess"
              oneOf:
                - properties:
                  required: ["resourceRef", "principalId"]
                - properties:
                  required: ["resourceRef", "principalExternalRef"]
              properties:
                principalId:
                  type: string
                  nullable: False
                  pattern: "^[-A-Za-z0-9+/]*={0,3}$"
                  description: "principalId is the ID of the principal to provide access to the resource."
                  x-kubernetes-validations:
                    - rule: self == oldSelf
                      message: "principalId is immutable"
                principalExternalRef:
                  type: object
                  nullable: False
                  required: ["type", "name"]
                  properties:
                    type:
                      type: string
                      description: "Type of the external reference."
                      enum:
                        - group
                        - serviceAccount
                      x-kubernetes-validations:
                        - rule: self == oldSelf
                          message: "principalExternalRef.type is immutable"
                    name:
                      type: string
                      nullable: False
                      description: "Name of the external reference to match. (Note: name uniqueness is not enforce, if 2 entities match the same name, the first will be used)"
                      x-kubernetes-validations:
                        - rule: self == oldSelf
                          message: "principalExternalRef.name is immutable"
                securityPolicyId:
                  type: string
                  nullable: True
                  pattern: "^[-A-Za-z0-9+/]*={0,3}$"
                resourceRef:
                  type: object
                  nullable: False
                  description: "resourceRef specifies the TwingateResource reference to provide access to."
                  x-kubernetes-validations:
                    - rule: self == oldSelf
                      message: "resourceRef is immutable."
                  properties:
                    name:
                      type: string
                      nullable: false
                      description: "Name of the resource."
                    namespace:
                      type: string
                      nullable: true
                      description: "Namespace of the resource."
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
  scope: Namespaced
  names:
    plural: twingateresourceaccesses
    singular: twingateresourceaccess
    kind: TwingateResourceAccess
    shortNames:
      - tgra
      - tacc
