apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: twingateresources.twingate.com
spec:
  group: twingate.com
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                id:
                  type: string
                  nullable: True
                name:
                  type: string
                  nullable: false
                address:
                  type: string
                  nullable: false
                alias:
                  type: string
                  nullable: true
                securityPolicyId:
                  type: string
                  nullable: true
                  pattern: "^[-A-Za-z0-9+/]*={0,3}$"
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
  scope: Namespaced
  names:
    plural: twingateresources
    singular: twingateresource
    kind: TwingateResource
    shortNames:
    - tgr
    - tres
