apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: twingateresourceaccesses.twingate.com
spec:
  group: twingate.com
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              x-kubernetes-validations:
                - rule: self.principalId == oldSelf.principalId
                  message: "principalId is immutable"
              properties:
                principalId:
                  type: string
                  nullable: False
                  pattern: "^[-A-Za-z0-9+/]*={0,3}$"
                securityPolicyId:
                  type: string
                  nullable: True
                  pattern: "^[-A-Za-z0-9+/]*={0,3}$"
                resourceRef:
                  type: object
                  nullable: False
                  x-kubernetes-validations:
                    - rule: self == oldSelf
                      message: "resourceRef is immutable"
                  properties:
                    name:
                      type: string
                      nullable: false
                      description: Name of the resource
                    namespace:
                      type: string
                      nullable: true
                      description: Namespace of the resource
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
  scope: Namespaced
  names:
    plural: twingateresourceaccesses
    singular: twingateresourceaccess
    kind: TwingateResourceAccess
    shortNames:
      - tgra
      - tacc
