apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: twingategroups.twingate.com
spec:
  group: twingate.com
  versions:
    - name: v1beta
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          description: "TwingateGroup represents a Group in Twingate."
          properties:
            spec:
              type: object
              description: "TwingateGroupSpec defines the desired state of TwingateGroup"
              required: ["name"]
              properties:
                id:
                  type: string
                  nullable: true
                name:
                  type: string
                  description: "Name of the group."
            status:
              type: object
              x-kubernetes-preserve-unknown-fields: true
      additionalPrinterColumns:
        - name: ID
          type: string
          description: "The ID of the group."
          jsonPath: .spec.id
        - name: Display Name
          type: string
          description: "Name of the group."
          jsonPath: .spec.name
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
  scope: Namespaced
  names:
    plural: twingategroups
    singular: twingategroup
    kind: TwingateGroup
    shortNames:
      - tgg
    categories:
      - all
      - twingate
